.form-container .col-25,
.signup-form .col-25,
.login-form .col-25,
.new-msg-form .col-25,
.new-post-form .col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.form-container .col-75,
.signup-form .col-75,
.login-form .col-75,
.new-msg-form .col-75,
.new-post-form .col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.form-container .row:after,
.signup-form .row:after,
.login-form .row:after,
.new-msg-form .row:after,
.new-post-form .row:after {
  content: "";
  display: table;
  clear: both;
}

.form-container input,
.form-container textarea,
.form-container select,
.signup-form input,
.signup-form textarea,
.signup-form select,
.login-form input {
  width: 100%;
  padding: 12px;
  border: 2px outset;
  border-color: white;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  background-color: rgb(238, 233, 230);
}

.new-msg-form input,
.new-msg-form textarea,
.new-post-form input,
.new-post-form textarea,
.new-post-form select {
  width: 100%;
  padding: 12px;
  border: 2px outset;
  borderform-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.form-container label,
.signup-form label,
.login-form label,
.new-msg-form label,
.new-post-form label {
  display: inline;
  font-size: large;
}

.form-container {
  height: 30%;
  font-size: 40px;
  align-content: center;
  overflow: scroll;
  margin: auto;
}
