.profile-container {
  justify-content: space-around;
}

.profile-container > .info-box-left,
.info-box-right {
  display: inline-block;
  color: white;
  width: 35%;
  height: 50%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: left;
  margin-bottom: 3em;
  margin-top: 2em;
  vertical-align: top;
  /* border-style: outset;
  border-color: #bf6c5a; */
  overflow: scroll;
}

.info-box-left {
  float: left;
  margin-left: 5em;
}

.info-box-left > .container,
.info-box-right > .location-container {
  margin-top: 1em;
}

.info-box-left .col-25,
.info-box-right .col-25,
.signup-form .col-25,
.login-form .col-25,
.new-msg-form .col-25,
.new-post-form .col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.info-box-left .col-75,
.info-box-right .col-75,
.signup-form .col-75,
.login-form .col-75,
.new-msg-form .col-75,
.new-post-form .col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.info-box-left .row:after,
.info-box-right .row:after,
.signup-form .row:after,
.login-form .row:after,
.new-msg-form .row:after,
.new-post-form .row:after {
  content: "";
  display: table;
  clear: both;
}

.info-box-left input,
.info-box-left textarea,
.info-box-right input,
.info-box-right select,
.signup-form input,
.signup-form textarea,
.signup-form select,
.login-form input {
  width: 100%;
  padding: 12px;
  border: 2px outset;
  border-color: white;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  background-color: rgb(238, 233, 230);
}

.new-msg-form input,
.new-msg-form textarea,
.new-post-form input,
.new-post-form textarea,
.new-post-form select {
  width: 100%;
  padding: 12px;
  border: 2px outset;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.info-box-left label,
.info-box-right label,
.signup-form label,
.login-form label,
.new-msg-form label,
.new-post-form label {
  /* padding: 12px 12px 12px 0; */
  display: inline;
  font-size: large;
}

.info-box-right {
  float: right;
  margin-right: 5em;
  overflow: scroll;
}

.info-box-btm {
  /* border-style: outset;
  border-color: #bf6c5a; */
  /* display: inline-block; */
  /* margin-left: 1em; */
  /* margin-top: none; */
  width: 100%;
  height: 30%;
  /* text-align: center; */
  /* line-height: 75px; */
  font-size: 30px;
  align-self: center;
  overflow: scroll;
}
