.tab-group {
  display: inline;
}
.tabs li {
  display: inline;
  list-style-type: none;
}

li a {
  color: white;
  background-color: #5080aa;
  border-radius: 5%;
  text-align: center;
  padding: 2%;
  margin: 1em;
  text-decoration: none;
}

li a:hover {
  background-color: #385976;
}
