.file-container {
  margin: auto;
  color: white;
  display: flex;
  justify-content: center;
}

.viewer-file-store {
  color: white;
  justify-content: center;
  justify-content: space-evenly;
  display: flex;
}

.file-container > div {
  margin: 3em;
}

.viewer-file-store label {
  width: 20px;
  text-align: left;
  float: left;
}

.file-container label,
.file-container svg,
.viewer-file-store svg {
  display: block;
  padding-top: 1em;
  font-size: 30px;
}

.file-container button {
  margin-top: 20em;
  display: flex;
  order: -1;
}
