.file-container {
  margin: auto;
  color: white;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.viewer-file-store {
  color: white;
  justify-content: center;
  justify-content: space-evenly;
  display: flex;
}

.file-container > div {
  margin: 0;
}

.file-container label,
.viewer-file-store label,
.file-container svg,
.viewer-file-store svg {
  display: block;
  padding-top: 1em;
  font-size: 30px;
}

.file-container button {
  margin-top: 0em;
  display: flex;
  order: -1;
}

#submit-btn {
  margin-top: 20em;
}

.viewer-content {
  padding: 6vw;
  position: relative;
  backdrop-filter: blur(4px) contrast(0.8);
}
