.nav a {
  background-color: #5d4e5e;
  color: white;
  font-size: 1.8em;
  font-family: "Kalam", cursive;
  text-decoration: none;

  /* color: rgb(15, 13, 13); */
  /* text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000; */
}

a.active {
  /* text-decoration: overline; */
  color: white;
}

.collab-logo {
  /* border-radius: 30%; */
  width: 5em;
  left: 0%;
  top: 0em;
  position: absolute;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 7em;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 10em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  flex-grow: 1;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #7399bb;
}

.dropdown-content a.active {
  outline: 1px dashed white;
}
.dropdown:hover .dropdown-content {
  display: block;
  margin-left: 0%;
  margin-top: 7em;
}
